extends layout

block content
  header.bg-primary.py-2
    h4.display-4.text-white.text-center Shraddha Sirisha
  .bg-light
    .container
      .row
        .col-sm-6.py-2
          .text-dark
            h4 About Me...
            p
              | Hello there! How are you doing? Guess, you are having fun working from home...
              | Now, what can I say. Am a young and active 7 year old, studying in second class.
              | I like
              ul
                li Chota Bheem
                li Playing with Barbie dolls
                li Making my mother mad &#128520; and
                li Eating panner &#128523;
            p
              | Am going to celebrate my 8th Birthday &#128515; on 
              em 13th November.
              | Shower me with your blessings and best wishes through a video message(and gifts &#128521;).
              | This is a simple webpage, my Dad designed... so yeah, as you see... hopes are not high &#128540;.
            strong I &hearts; my Dad!
        .col-sm-6.py-4
          img.img-thumbnail(src='/images/Chitti.jpg' alt='Can not show' class='height:auto')
      form.main-form.card.text-white.bg-dark.mb-3(enctype='multipart/form-data' name='forminfo' method='POST' novalidate='')
        .card-header
          h6 Provide your Video Message here...
        .card-body 
          .form-group.row
            label.col-form-label.col-sm-2(for='firstname') First Name:
            .col-sm-10
              input#firstname.form-control(type='text' name='firstname'  size= '30' placeholder="First Name" required='')
          .form-group.row
            label.control-label.col-sm-2(for='lastname') Last Name:
            .col-sm-10
              input#lastname.form-control(type='text' name='lastname'  size= '30' placeholder="Last Name" required='')
          .form-group.row
            label.control-label.col-sm-2(for='email') Email Id:
            .col-sm-10
              input#email.form-control(type='email' name='email' placeholder="Email" required='')
          .row
            label.control-label.col-sm-2(for='upload') Video Message...
            .col-sm-10
              input#upload.form-control-file.mb-1(type='file' name='upload' accept='video/*' capture='user' required='')
          .form-group.row
            .col-sm-10
              input.btn.btn-primary(type='submit' value='Submit Details' )
        .card-footer
          div.alert.alert-primary.d-none(role="alert")
            | We are uploading the Video... please wait.
      .card.text-white.bg-dark.mb-3.text-center
        .card-header
          h5 My Gift &hearts;
        .card-body
          //- h5.card-title Support Children
          p.card-text.lead On my Birthday, I want to help other kids like me, to have a nice meal and enjoy their time in school. Help me support 
            b 50 
            | children this year.
          a.btn.btn-primary(href="https://www.akshayapatra.org/active-fundraising-campaigns/chitti-birthday" target="_blank") Donate Here
        .card-footer.text-muted
          .row
            .col.text-center.font-weight-bold
              p#days days
              span Days
            .col.text-center.font-weight-bold
              p#hours hours
              span Hours
            .col.text-center.font-weight-bold
              p#minutes minutes
              span Minutes
            .col.text-center.font-weight-bold
              p#seconds seconds
              span Seconds
  footer.bg-info.text-center.py-2
    p
      small
        | Messages recorded are stored in private cloud and would not be made
        | public. The website and Video messages received would be destroyed after 13th November.
        | For any issues reach out to 
        a(href="mailto:avi.vzm05@gmail.com") Avinash


  // Optional JavaScript
  // jQuery first, then Popper.js, then Bootstrap JS
  script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js' integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV' crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js')
